APP_ENV=development
PORT=3000

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=pos_api

IS_SUCURSAL=false
URL_API_PRINCIPAL=
SUCURSAL_CODE=

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d
